 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
  
 header {
    background-color: #f2f2f2;
    padding: 5%;
    height: 100%;
    text-align: center;
  }
  
 h1 {
    margin: 0;
  }
  
  main {
    padding: 20px 50px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 10px;
  }
  
  th, td {
    width: 30%;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  #dia-2{
    margin-bottom: 40px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Ajusta la altura según tus necesidades */
    margin: 30px;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  form {
    background-color: #f2f2f2;
    padding: 2% 35%;
    
  }
  
  form h2 {
    margin-bottom: 30px;
    text-align: center;
    
  }
  
  form label {
    display: block;
    margin-top: 5px;
  }
  
 #dropdown {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid gray;
  }
  
  .div_select h4{
    margin: 10px 0px 10px;
  }
  option {
    padding: 0 2px 1px;
    height: 10px;
  }
  
  .input-wrapper,
  .div_radio,
  .div_check,
  .div_text_area,
  .div_submit {
    display: flex;
    flex-direction: column;
  }
  
#name-label,
#email-label,
#label-number {
  margin: 10px 0px;
  font-weight: bold;
}
#name,
#email,
#tel,
#ocupacion{
  border: 2px solid gray;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.5);
}
.input_radio {
  margin-right: 10px;
}

.div_radio label,
.div_check label {
  margin-bottom: 7px;
}

#text-area {
  width: inherit;
  max-width: 100%;
  height: 70px;
  border-radius: 5px;
  border: 2px solid gray;
}

#submit {
  width: inherit;
  height: 40px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
}

.div_submit {
  padding-bottom: 10%;
  padding-top: 5%;
}

#sobre-mi h2, h3{
    text-align: center;
}

.sobre-mi-descripcion, .habilidades-tecnologías{
    width: 80%;
    margin: 3% auto;
    
}

.sobre-mi-descripcion p{
    text-align: justify;
}

.habilidades-tecnologías{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.column{
    margin: 0 10px;
}

.column li{
    margin: 6px 3px;
}

#contacto{
    background-color: #f2f2f2;    
    margin: 10px 0px;
    border-bottom: 1px solid gray;
    
}

#contacto h2 {
    text-align: center;
    padding-top: 2%;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
}

#twitter, #github, #linkedin, #gmail{
    height: 50px;
    width: 40px;
}

.redes a{
    cursor: pointer;
}

footer{
    text-align: center;
}
footer p{
    padding: 15px;
}
  

  